<style>
  body {
    background: linear-gradient(#d60000, #8b0000);
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: #333;
  }



  .carta::before {
    content: "🎄";
    position: absolute;
    font-size: 50px;
    top: -25px;
    left: -25px;
  }

  .carta::after {
    content: "🎅";
    position: absolute;
    font-size: 50px;
    top: -25px;
    right: -25px;
  }

  h1 {
    text-align: center;
    color: #c40000;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #ffb3b3;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .firma {
    margin-top: 30px;
    text-align: right;
    font-size: 20px;
    font-style: italic;
  }
</style>

<div class="carta">
  <h1>Carta para Santa 🎁</h1>

  <p>Querido Santa Claus o mejor dicho {{nombre}},</p>

  <p>
    Espero que estés teniendo una maravillosa temporada en el Polo Norte junto a la
    Señora Claus, los elfos y los renos. Este año me he esforzado mucho en ser una
    buena persona, ayudar a los demás y dar siempre lo mejor de mí.
  </p>

  <p>
    Para esta Navidad, me gustaría pedirte algunas cosas que harían mis días más
    felices y especiales. Pero también quiero agradecer por todo lo bueno que he
    recibido hasta ahora.
  </p>

  <p>
    Gracias por tan buena clase, he aprendido un montón. No me arrepiento de haberla metido de complemenataria, ya que a los de
    sistemas nos dejaron lo muy basico de aplicaciones web y ahora me siento mucho más segura de mis conocimientos en esta área.
    
    Y bueno ahora si mi deseo para esta Navidad:
        
  </p>

  <ul><li>Deseo no reprobar, ya que si repruebo, tendría que hacer otro semestre y la verdad ya estoy un poco harta de la universidad.</li></ul>

  <p class="firma">Con cariño,<br>{{yo}}</p>
  <a href="https://www.youtube.com/watch?v=x305n2dMm8M&list=RDx305n2dMm8M&start_radio=1">
    <button style="border: 0cqmin; color:#096c1d; background:#d60000;">Click for video!</button>
  </a>
</div>




